@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
}

#root {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
}

#elementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-testid="header"] {
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  color: white;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
}

#memberSearch {
  margin: 20px 0px 30px 0px;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  text-align: center;
}

.center {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#addMember {
  margin: 20px;
  height: 40px;
  text-decoration: none;
  padding: 10px;
  background-color: $secondary-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.5s;
}

#addMember:hover {
  background-color: $dark-secondary-color;
  color: white;
}

[data-testid="belt"] {
  width: 50px;
  height: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 5px;
}

[data-testid="submit"] {
  color: white;
  background-color: $secondary-color;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: auto auto;
  width: 80%;
}

[data-testid="paid"] {
  margin-left: 5px;
}

[data-testid="frozen"] {
  margin-left: 5px;
}

[data-testid="submit"]:hover {
  background-color: $dark-secondary-color;
}

.memberButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  margin: 20px 20px;
  height: 100px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
  box-shadow: 1px 2px 2px rgb(85, 48, 48);
}

.memberButton:hover {
  background-color: $primary-color;
  color: white;
}

#membersContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: $tertiary-color;
}

#memberInputFormContainer {
  font-size: 20px;
  font-weight: bold;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(242, 242, 246);
}

#memberInputForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.memberInputElement {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.memberInput {
  margin-left: 10px;
}

#addMemberLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.memberLink {
  text-decoration: none;
}

#memberAddedNotification {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: $tertiary-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.homeLink {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.homeLink:hover {
  color: rgb(19, 80, 179);
}

#memberAddedMessage {
  margin-top: -100px;
  margin-bottom: 20px;
}

#memberInfoContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  font-size: 25px;
  background-color: rgb(242, 242, 246);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.memberInfoElement {
  display: flex;
  justify-content: space-between;
  width: 2600px;
}
@media (min-width: 400px) {
  .memberInfoElement {
    width: 300px;
  }
}

[data-testid="edit"] {
  background-color: $secondary-color;
  width: 80%;
  border: none;
}
[data-testid="edit"]:hover {
  background-color: $dark-secondary-color;
}

#updateSubmit {
  width: 80%;
  margin: 0px auto;
}

#updateCancel {
  width: 80%;
  margin: 0px auto;
}

[data-testid="cancel"] {
  background-color: rgb(134, 24, 29);
  color: white;
  font-weight: bold;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -20px;
  width: 100%;
}

#createMemberCancel {
  width: 80%;
}

[data-testid="cancel"]:hover {
  background-color: rgb(99, 17, 21);
}

#memberUpdateForm {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(242, 242, 246);
  padding: 20px;
  border-radius: 10px;
}

.memberUpdateElement {
  display: flex;
  justify-content: space-between;
}

[data-testid="delete"] {
  background-color: rgb(134, 24, 29);
  border: none;
}

#delete {
  width: 80%;
  margin-top: -40px;
}

[data-testid="delete"]:hover {
  background-color: rgb(99, 17, 21);
}

.buttons {
  margin: 10px 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.home {
  background-color: $primary-color;
  margin-top: 20px;
  font-size: 30px;
}

.home:hover {
  background-color: $dark-primary-color;
}

#memberDeleted {
  width: 100vw;
  height: 100vh;
  margin: 0px 0px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $tertiary-color;
  color: white;
}

#memberDeletedInner {
  width: 100%;
  height: 300px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $tertiary-color;
}
