* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

[data-testid="header"] {
  width: 100%;
  text-align: center;
  background-color: rgb(19, 80, 179);
  color: white;
  height: 60px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
}
#elementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#memberSearch {
  margin: 20px 0px 30px 0px;
}

.center {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#addMember {
  margin: 20px;
  height: 40px;
  text-decoration: none;
  padding: 10px;
  background-color: rgb(23, 23, 112);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

[data-testid="belt"] {
  width: 50px;
  height: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 5px;
}

[data-testid="submit"] {
  color: white;
  background-color: rgb(19, 80, 179);
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

[data-testid="paid"] {
  margin-left: 5px;
}

[data-testid="frozen"] {
  margin-left: 5px;
}

[data-testid="submit"]:hover {
  background-color: rgb(7, 63, 167);
}

.memberButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.memberButton:hover {
  transform: scale(1.05);
}

#membersContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-height: 500px;
  flex-wrap: wrap;
  border: 2px solid rgb(66, 62, 62);
  border-radius: 10px;
}

#memberInputFormContainer {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#memberInputForm {
  margin-bottom: 50px;
}

.memberInputElement {
  margin: 20px 0px;
}

.memberInput {
  margin-left: 10px;
}

#addMember:hover {
  background-color: rgb(36, 36, 136);
  color: white;
}

#addMemberLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.memberLink {
  text-decoration: none;
}

#memberAddedNotification {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 253, 248);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeLink {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.homeLink:hover {
  color: rgb(19, 80, 179);
}

#memberAddedMessage {
  margin-top: -100px;
  margin-bottom: 20px;
}

#memberInfoContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 25px;
  background-color: rgb(242, 242, 246);
  padding: 20px;
  border-radius: 10px;
}

.memberInfoElement {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
@media (min-width: 400px) {
  .memberInfoElement {
    width: 400px;
  }
}

[data-testid="delete"] {
  background-color: rgb(104, 17, 22);
}

[data-testid="delete"]:hover {
  background-color: rgb(134, 24, 29);
}

[data-testid="edit"] {
  background-color: rgb(19, 80, 179);
}
[data-testid="edit"]:hover {
  background-color: rgb(13, 13, 182);
}

[data-testid="cancelEdit"] {
  background-color: rgb(134, 24, 29);
  color: white;
  font-weight: bold;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -20px;
}

[data-testid="cancelEdit"]:hover {
  background-color: rgb(163, 27, 34);
}

#memberUpdateForm {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(242, 242, 246);
  padding: 20px;
  border-radius: 10px;
}

.memberUpdateElement {
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin: 10px 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.home {
  background-color: rgb(23, 23, 112);
  margin-top: 20px;
  font-size: 30px;
}

.home:hover {
  background-color: rgb(36, 36, 136);
}

#memberDeleted {
  width: 100%;
  height: 100vw;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: flex-start;
  background-color: rgb(255, 253, 248);
}

#memberDeletedInner {
  width: 100%;
  height: 300px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: space-evenly;
  background-color: rgb(255, 253, 248);
}
